<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
 <table>
    <thead>
    <tr>
        <th>
    <lablel>Kitap adı</lablel> 
        </th>
        <th>
            <lablel>Fiyatı</lablel>
        </th>
        <th>
            <lablel>Yazarı</lablel>
        </th>
    </tr>
    </thead>
    <tbody>
    {{#kitaplar}}
    {{#goster}}
    <tr>
        <td>
            {{ad}}
        </td>
        <td>
            {{fiyat}}
        </td>
        <td>
            {{yazar}}
        </td>
    </tr>
    {{/goster}}
    {{/kitaplar}}
    </tbody>
</table>
    </body>
</html>
