<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset=UTF-8>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
<table class="table" border="1" bordercolor="grey" style="margin: 30px auto 0 auto;width: 500px;">
    <thead>
    <tr>
        <th>
            <lablel>Kitap adı</lablel>
        </th>
        <th>
            <lablel>Fiyatı</lablel>
        </th>
        <th>
            <lablel>Yazarı</lablel>
        </th>
    </tr>
    </thead>
    <tbody>
    {{#kitaplar}}
    {{#goster}}
    <tr>
        <td>
            {{ad}}
        </td>
        <td>
            {{fiyat}}
        </td>
        <td>
            {{yazar}}
        </td>
    </tr>
    {{/goster}}
    {{/kitaplar}}
    </tbody>
</table>
</body>
</html>